@charset "UTF-8";

*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}

#wrap{}
.sign_up{}
.sign_up h3{}
.signup_section{}

.col1{
	padding: 15px 10px;
	font-size: 14px;
}
.text{}
.col2{}
.col2>input{
	width: 150px;
}
.col2>input,.bordernone,#sample4_detailAddress{
	border: none;
	outline:none;
    border-bottom: 1px solid;
    padding-left: 5px;
}
#ob_phone_1,#ob_phone_2,#ob_phone_3{
	width:80px;
}

.hyphen{}
.col3{}
.col3>check{}

/*select*/
.change_email{}
.change_email>option{}

.adderess_span{
	display: block;
	margin:10px 0;
}

.agree_section{}
.agree_div{
	margin:25px 0;
}
.agree_div>span{
	display:inline-block;
	width:200px;;
	font-size: 14px;
	vertical-align: top;	
}

.agreetextarea{
	width:850px;
	height:210px;
	resize: none;
	overflow: scroll;
	outline: none;
}