@charset "UTF-8";

*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}

#wrap{}
.sign_up{
	width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    white-space: nowrap;
}
.sign_up h3{
	margin:20px 0;
}
.signup_section{
	    border-collapse: collapse;
}

.col1{
	width:30%;
	padding: 15px 10px;
	font-size: 14px;
	background: #e9e9e9;
}
.text{}
.col2{
	padding-left: 30px;
}
.col2>input{
	width: 150px;
}
.col2>input,.bordernone,#sample4_detailAddress{
	/* border: none; */
	outline:none;
    /* border-bottom: 1px solid; */
    padding: 5px;
    font-size: 12px;
}
#ob_phone_1,#ob_phone_2,#ob_phone_3{
	width:80px;
}

.hyphen{}
.col3{}
.col3>check{}

/*select*/
.change_email{}
.change_email>option{}

.adderess_span{
	display: block;
	margin:10px 0;
}

.agree_section{}
.agree_div{
	margin:25px 0;
}
.agree_div>span{
	display:inline-block;
	width:200px;;
	font-size: 14px;
	vertical-align: top;	
}

.agreetextarea{
	width:850px;
	height:210px;
	resize: none;
	overflow: scroll;
	outline: none;
}

.btnsection{
	text-align: center;
}
.btn{
	border: none;
    outline: none;
    cursor:pointer;
    background: none;
    padding: 20px;
    margin:0 20px;
}
.resetbtn{
	border: 1px solid #222;
}
.signupbtn{
	background: #222;
    color: #fff;
}