@charset "UTF-8";

h3{
	text-align: center;
    font-size: 24px;
    margin: 50px 0;
}

.update{
	width:80%;
	margin: 0 auto;
}
.table{
	border-collapse: collapse;
}
tr{
	border: 1px solid;
}
.td1{
	width:20%;
	padding: 15px 20px;
	border-right: 1px solid;
	
}
.td2{
	width: 70%;
	padding:15px;
}


.phone_input{
	width: 80px;
	padding:5px;
}
.text_input{
	width: 150px;
	padding:5px;
}
#sample4_postcode,#sample4_roadAddress,
#sample4_jibunAddress,#sample4_detailAddress{
	padding:5px;
}
.adddiv{
	margin: 5px 0;	
}
.btn_section{
	text-align: center;
	margin: 30px 0;
}
.updatebtn{ 
	border:1px solid #222;
	background: #222;
	color:#fff;
	outline:none;
	cursor: pointer;;
	padding:10px 20px;
}
