@charset "UTF-8";
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color: #000;
}
.wrap{
	
}

.sidebar{	
	width: 200px;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	transition:0.5s;
	background:#222;
	
}
.side_ul{}
.side_li{
	padding:10px;
}
.side_li a{
	color:#fff;
}