@charset "UTF-8";
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
.wrap{
	
}

.sidebar{
	background: pink;
	width: 200px;
	height:100%;
	position: absolute;
	top:0;
	left:-170px;
	transition:0.5s;
}
.side_ul{}
.side_li{}